$dark-grey: #454546;
$grey: #7c7c7c;
$dark-green: #395e66;

body {
    background: url('/img/header.jpg') no-repeat center top / 1980px;
    -webkit-font-smoothing: antialiased;
    font-family: "Raleway";
    color: $dark-grey;

}

a {
    margin: 0px;
    padding: 0px;
}

nav {
    margin-top: 35px;
}

.navbar-brand {
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 300;
    color: $dark-grey;
}

nav ul {
    font-size: 14px;
}

nav li {
    padding-left: 40px;
}

.actionForm {
    margin-top: 60px;
    background-color: white;
    padding: 40px;
    line-height: 40px;
}

@media (min-width: 1200px) {
    .actionForm {
        width: 770px;
        margin-left: auto;
        margin-right: auto;
    }
}

form {
    line-height: 40px;
}

.gutter-2.form-row {
    margin-right: -10px;
    margin-left: -10px;
  }
  .gutter-2 > [class^="col-"], .gutter-2 > [class^=" col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }

input, button {
    font-size: 14px !important;
    line-height: 30px !important;
}

button {
    background-color: $dark-green !important;
    font-weight: 600 !important;
}

input {
    background-color: #f0f0f0 !important;
}
/*
nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 40px;
}


nav ul {
    display: flex;
    padding: 0px;
    list-style-type: none;
    
}

nav li {
    padding-left: 40px;
}
*/

header {
    text-align: center;
    
}
h1 {
    font-family: "Euphoria Script", "Times New Roman";
    font-size: 70px;
    margin: 180px 0px 0px 0px;
    color: $dark-grey;
}

h4 {
    letter-spacing: 3px;
    font-weight: lighter;
    font-size: 13px;
    margin: 10px 0px 0px 0px;
    color: $grey
}

div, ul, nav, header, h1, h2, h3, h4 {
    //border: red 1px dotted;
}