$dark-grey: #454546;
$grey: #7c7c7c;
$light-grey: #a5acaf;
$super-light-grey: #ebebee;
$dark-green: #395e66;

html{ 
    height:100%; 
    width:100%
}

body {
    background: url('/img/header.jpg') no-repeat center top / 1500px;
    -webkit-font-smoothing: antialiased;
    font-family: "Raleway";
    color: $dark-grey;
}

p {
    
    color: $grey;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
}

.call-to-action {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    body {
        background-size: 1980px;
    }

    .call-to-action {
        padding-top: 180px;
        padding-bottom: 170px;
    }
}

@media (min-width: 992px) {
    .thin-divider {
        border-left: solid 1px $light-grey;
        height: 20px;
        margin-left: 20px;
    }
}

a {
    margin: 0px;
    padding: 0px;
}

nav {
    margin-top: 35px;
}

.navbar-brand {
    font-size: 22px;
    letter-spacing: -1.5px;
    font-weight: 300;
    color: $dark-grey !important;
}



nav ul {
    font-size: 14px;
}

.navlinks li {
    padding-left: 10px;
    text-align: right;
}

@media (min-width: 992px) {
    .navlinks li {
        padding-left: 30px;
    }
}

.social {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.social li {
    padding-left: 15px;
}

.fab {
    color: #575757;
}

.actionForm {
    margin-top: 60px;
    background-color: white;
    padding: 40px;
    line-height: 40px;
}

@media (min-width: 1200px) {
    .actionForm {
        width: 770px;
        margin-left: auto;
        margin-right: auto;
    }
}

form {
    line-height: 40px;
}

.gutter-2.form-row {
    margin-right: -10px;
    margin-left: -10px;
  }
  .gutter-2 > [class^="col-"], .gutter-2 > [class^=" col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }

input, button {
    font-size: 14px !important;
    line-height: 30px !important;
}

#sub-button {
    background-color: $dark-green !important;
    font-weight: 600 !important;
}

input {
    background-color: #f0f0f0 !important;
}

header {
    text-align: center;
    
}
h1 {
    font-family: "Euphoria Script", "Times New Roman";
    font-size: 70px;
    margin: 0px 0px 0px 0px;
    color: $dark-grey;
}

h4 {
    letter-spacing: 3px;
    font-weight: lighter;
    font-size: 13px;
    margin: 10px 0px 0px 0px;
    color: $grey

}


.bullet-points {
    padding-bottom: 100px;
}

.videoplayer {
    background: url('/img/video.jpg') no-repeat center top / 1980px;
    padding-top: 200px;
    padding-bottom: 200px;
}

h2 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.5px;
}


h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 25px 0px;
}

.icon {
    color: $dark-green;
    margin-bottom: 30px;
    margin-top: 30px;
}

.dotted-spaced-bottom {
    position:relative;
    left:2px;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 20%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    margin: 0px auto -3px;
    width: 75px;
    height: 1px;
    
  }

.dotted-spaced {
background-image: linear-gradient(to bottom, rgb(0, 0, 0) 20%, rgba(255, 255, 255, 0) 0%);
background-position: left;
background-size: 1px 5px;
background-repeat: repeat-y;
margin: 0px auto 0px;
width: 1px;
height: 25px;
}

.short {
    height:18px;
}

#quotes{
    padding-top: 100px;
}

#quotes-carousel{
    padding-bottom: 100px;
}

#quotes h2{
    margin-bottom: 30px;
}

.quote {
    margin-top: 90px;
    font-size: 16px;
    font-weight: 300;
}

.carousel-indicators li{
    background-color: $super-light-grey;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.carousel-indicators .active{
    background-color: $light-grey;
}

.icon-quote-control {
    color: $grey !important;
}

div, ul, nav, header, h1, h2, h3, h4 {
    //border: red 1px dotted;
}